<!DOCTYPE html>
<html>
<head>
    <title>Monaco Editor with Echo</title>
    <script src="/assets/monaco/vs/loader.js"></script>
    <script src="/assets/leader-line/leader-line.min.js"></script>
    {{template "styles" .}}
</head>
<body>

<div class="col">
    <div class="row">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
                   aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div id="container" style="height:600px;"></div>
        </div>
        <div class="col-6">

        </div>
    </div>
</div>
<script>
    require.config({paths: {'vs': '/assets/monaco/vs'}});

    require(['vs/editor/editor.main'], function () {
        monaco.editor.create(document.getElementById('container'), {
            value: '' +
                '{\n    "Parameters": {\n       "console.text":"hallo word"\n    },\n    "Tasks": [\n        {\n            "Sequence": 1,\n            "Name": "log",\n            "Action": "console"\n        }\n    ]\n}',
            language: 'json'
        });
        monaco.languages.registerCompletionItemProvider('json', {
            provideCompletionItems: function (model, position) {
                const word = model.getWordUntilPosition(position);
                const range = {
                    startLineNumber: position.lineNumber,
                    endLineNumber: position.lineNumber,
                    startColumn: word.startColumn,
                    endColumn: word.endColumn
                };

                const suggestions = [
                    {
                        label: 'myKeyword1',
                        kind: monaco.languages.CompletionItemKind.Keyword,
                        insertText: '"myKeyword1"',
                        range: range
                    },
                    {
                        label: 'myKeyword2',
                        kind: monaco.languages.CompletionItemKind.Keyword,
                        insertText: '"myKeyword2"',
                        range: range
                    }
                ];
                return {suggestions: suggestions};
            }
        });
    });
</script>
{{template "scripts" .}}
</body>
</html>
