<!DOCTYPE html>
<html>
<head>
    <title>Monaco Editor with Echo</title>
    <script src="/assets/monaco/vs/loader.js"></script>
    {{template "styles" .}}
</head>
<body>

<div class="col">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar bg-body-tertiary">
                    <button class="btn btn-primary" id="execute-btn">
                        <i class="bi bi-play-fill"></i> ▶
                    </button>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="container" style="height:600px;"></div>
            </div>
        </div>
    </div>
</div>
<script type="module">
    //import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';

    //mermaid.initialize({startOnLoad: false});
    //window.drawDiagram = async function () {
    //    let element = document.querySelector('#mermaid');
    //    const graphDefinition = 'graph TB\na-->b';
    //    const {svg} = await mermaid.render('graphDiv', graphDefinition);
    //    element.innerHTML = svg;
    //};

</script>
<script>
    const initialPipeline = '{{.InitCommand}}'

    require.config({paths: {'vs': '/assets/monaco/vs'}});

    require(['vs/editor/editor.main'], function () {
        monaco.languages.registerCompletionItemProvider('json', {
            provideCompletionItems: function (model, position) {
                const word = model.getWordUntilPosition(position);
                const range = {
                    startLineNumber: position.lineNumber,
                    endLineNumber: position.lineNumber,
                    startColumn: word.startColumn,
                    endColumn: word.endColumn
                };

                const suggestions = [];

                {{range $action, $json := .Actions}}
                suggestions.push(
                    {
                        label: '{{$action}}',
                        kind: monaco.languages.CompletionItemKind.Keyword,
                        insertText: '{{$json}}',
                        range: range
                    }
                )
                {{end}}

                return {suggestions: suggestions};
            }
        });

        window.editor = monaco.editor.create(document.getElementById('container'), {
            value: initialPipeline,
            language: 'json'
        });

        updateCode();
        //(async () => {
        //    await drawDiagram();
        //})();

      editor.onDidChangeModelContent(function (e) {
      //    (async () => {
      //        await drawDiagram();
      //    })();
          //let code = editor.getValue();
          //window.code = JSON.parse(code)
          updateCode();
      });

        function handleSuggestionInsertion(event) {
            console.log("Wstawiono sugestię:", event);
            // Tutaj możesz dodać swoją logikę
            alert(`Wstawiono sugestię: ${event.completion.label}`);
        }

// Dodaj listener dla zdarzenia didInsertSuggestion
        editor.onDidInsertSuggestion(handleSuggestionInsertion);
   });
    function updateCode(){
        let code = editor.getValue();
        window.code = JSON.parse(code)
    }
</script>

{{template "scripts" .}}
<script>
    $(document).ready(function () {
        $("#execute-btn").click(function () {
            $.ajax({
                type: "POST",
                url: "/execute",
                data: JSON.stringify(window.code),
                contentType: 'application/json',
                dataType: 'json',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.error(error.responseText);
                }
            });
        })
    });
</script>
</body>
</html>
