<!DOCTYPE html>
<html lang="en">
<head>
    {{template "styles" .}}

    <title></title>

</head>
<body>
<div class="container mt-2">
    <div class="row">
        <div class="col-11">
            <div class="mb-3">
                <input type="text" class="form-control" id="pipeline-name" placeholder="pipeline name">
            </div>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add
            </button>

        </div>
    </div>
    <div class="row">
        <div class="col">
            {{range $pipeline := .pipelines}}
            <div class="card">
                <div class="card-body">
                    <a href="/pipeline/{{.ID}}">
                        {{.Name}}
                    </a>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>
{{template "scripts" .}}
</body>
</html>