<!DOCTYPE html>
<html lang="en">
<head>
    {{template "styles" .}}

    <title></title>

</head>
<body>
<div class="container mt-2">
    <form hx-post="/pipeline" hx-target="#pipeline-list" hx-swap="innerHTML">

        <div class="row">
            <div class="col-11">
                <div class="mb-3">
                    <input type="text" class="form-control" id="pipeline-name" placeholder="pipeline name">
                </div>
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Add
                </button>

            </div>
        </div>
        <div class="row">
            <div class="col" id="pipeline-list">
                {{template "pipeline-list" .}}

            </div>
        </div>
    </form>

</div>
{{template "scripts" .}}
</body>
</html>